@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%; width: 100%;}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

@font-face {
	font-family: 'LCDNOVA';
	src: url('../fonts/362_LCDNOVA.eot');
	src: url('../fonts/362_LCDNOVA.woff') format('woff'), url('../fonts/362_LCDNOVA.ttf') format('truetype'), url('../fonts/362_LCDNOVA.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.body {
	margin: 0;
	border: 0;
}

.html {
	height: 100%;
	width: 100%;
}

.clock{
	font-family: 'LCDNOVA'; 
}

/* Адаптивность */
@media (max-width: 1440px) {
	.header {
		max-width: 100%;
		/* background-color: rgb(255, 245, 58); */
	}
}

@media (max-width: 1280px) {
	.header {
		min-width: 1000px;
		/* background-color: rgb(0, 255, 187); */
	}
	.nav li {
		font-size: 20px;
	}
	.content {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 1024px) {
	.header {
		min-width: 750px;
		/* background-color: rgb(42, 112, 202); */
	}
	.nav li {
		font-size: 14px;
	}
	.header__logo {
		max-width: 120px;
		max-height: 35px;
	}
	.nav-contacts {
		max-width: 115px;
		max-height: 30px;
		font-size: 20px;
	}
	.contacts-text {
		font-size: 15px;
	}
}

@media (max-width: 620px) {
	.header {
		min-width: 4;
		/* background-color: rgb(245, 12, 233); */
	}
	.nav {
		display: none;
	}
	.burger {
		display: flex;
	}
	.header__logo {
		max-width: 110px;
		max-height: 30px;
	}
	.nav-contacts {
		max-width: 80px;
		max-height: 30px;
	}
	.contacts-text {
		font-size: 12px;
	}
}

@media (max-width: 425px) {
	.header {
		min-width: none;
		/* background-color: rgb(247, 55, 55); */
	}
	.nav {
		display: none;
	}
	.burger {
		display: flex;
	}
}

.container {
	width: 100%;
}

.content {
	height: 441px;
	box-shadow: 0 10px 10px -6px rgba(46, 46, 46, 0.5);;
}

.block1-text1 {
	width: 530px;
	height: 150px;
}

.block1-text2 {
	width: 420px;
	height: 60px;
}


.item {
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal{
	display: none;
}

